.footer__column-link{
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s linear;
}
.footer__column-link:hover{
  opacity: .2;
}
